# ML datasets
ITD/
dataset/
datasets/
*.zip

# React
node_modules/
dist/
.vite/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment
.env
.env.local
.env.development
.env.production

# macOS
.DS_Storex

# IDE
.vscode/
.idea/

# Logs
s*.log